table {
  margin: 0 auto;
  padding: 5px;
}
td, th {
  text-align: center;
}
div {
  /*border: 1px solid blue;*/
  text-align: center;
}
li {
  text-align: left;
}

result-pane, result-pane-two-cal {
  width: 60%;
  margin: 0 auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.btn-link:hover {
  text-decoration: none; /* override */
}

button {
  margin: 5px;
  margin-bottom: 5px;
}
select {
  margin: 5px;
}

#up-button {
  position: fixed;
  top: 0px;
  right: 50%;
}
#dn-button {
  position: fixed;
  bottom: 0px;
  right: 50%;
}